* {
    /* border: 1px solid red; */
    gap: 5px;
    margin: 0px;
    color: #CACACA;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
}

*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
html {
    background-color: #1B1B1B;
    scroll-behavior: smooth;
}

.nav {
    background-color: #131313;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    z-index: 1;
}

.nav svg {
    width: 25%;
    height: 50px;
}

.nav ul {
    display: flex;
    list-style: none;
    cursor: pointer;

}

.nav li:hover {
    background-color: #CACACA;
    color: #202020;

}

li:hover a {
    color: #202020;
}


.nav li {
    margin: 10px;
    border-radius: 30px;
    transition: .4s ease;
    padding: 6px 32px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    
}


.frame_1{
    height: 1080px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 854px;
    height: 1440px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof li {
    font-size: 12px;
    padding-bottom: 6px;
}

.wrapper {
    position: absolute;
    display: flex;
    padding: 2%;
    background-color: hsla(0, 0%, 25%, 0.5);
    width: 50%;
    height: fit-content;
    border-radius: 30px;
    display: none;
    transform: translateY(-60px);
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.wrapper img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.prof {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;

}

.wrapperSched {
    background-color: #202020;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.wrapperSched h1 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    background-color: #3d3d3d;
    padding: 10px;
    border-radius: 30px;
}

.wrapperSched h2 {
    font-size: 16px;
    font-weight: normal;
}

.wrapperSched h3 {
    font-size: 12px;
    font-weight: lighter;
}

.wrapperSched div {
    background-color: #131313;
    margin: 10px;
    padding: 10px 34px;
    border-radius: 30px;
}

.left {
    width: 586px;
    height: 98.8%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    background-color: #202020;
    padding: 6px;
    overflow: scroll;
    
}

.left h1 {
    padding: 26px;
    background-color:hsla(0, 0%, 25%, 0.5);
    border-radius: 30px;
    font-size: 18px;
    width: 75%;
    
}


.containerLeft{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.container1, .container2 {
    width: 226px;
    height: inherit;
    margin: 2px;
}

.container2{
    padding-top: 60px;
}

.containerProf {
    width: 220px;
    height: inherit;
    border-radius: 30px;
    background-color:hsla(0, 0%, 25%, 0.5);
    margin-bottom: 16px;
    transition: .1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

.containerProf img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 16% 4%;
}

.containerProf p {
    text-align: left;
    padding-bottom: 6%;
    height: inherit;
    overflow: scroll;
    font-size: .8rem;
}

.containerProf h2 {
    font-size: 1rem;
}


.containerProf:hover {
        transform: translate(-10%);
        scale: 1.2;
        background-color:hsla(0, 0%, 25%, 1);
        box-shadow: 0px 0px 29px 0px rgba(189,189,189,0.83);
}



.containerProf

body::-webkit-scrollbar{
    display: none;
  }

.left::-webkit-scrollbar{
    display: none;
}


.containerProf p::-webkit-scrollbar{
    display: none;
}

.mySVG {
    width: 393.7px;
    height: 195.7px;
}

.description {
    position: absolute;
    border-radius: 30px;
    background-color:hsla(0, 0%, 25%, 0.5);
    padding: 30px;
    transform: translateY(200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.description img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Images CSS */

.photos {
    width: 50%;
    height: 50%;
}

.photoContainer {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 0px;

    
}

.photoDesc {
    margin: auto;
    
}

.photoDesc h1{
    color: #131313;
    font-weight: bolder;
    padding-bottom: 4%;
    width: 400px;
}

.photoDesc p{
    width: 500px;
    color: #131313;
}

.photoDesc h4 {
    color: #727272;
    font-weight: lighter;
    margin-top: 4%;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #727272;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 30px;
    transition: all .3s ease;
}

.photoDesc h4:hover {
    background-color: #3b3b3b;
    color: white;
    border: 1px solid #3b3b3b
}






/* About Us CSS */
.containerMain{
    text-align: center;
    background-color:#242424;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.containerMain h1{
    padding: 10px;
    border-bottom: 2px solid #888;
}

.header{
    padding-top:60px;
    color:#444444;
    margin:auto;
    font-size:20px;
    line-height:50px;
}
.sub-container{

    margin:auto;
    padding:40px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    margin:10px;
    padding:22px;
    max-width:30%;
    cursor:pointer ;
    transition:0.4s;
    border:border-box ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:12px;
    font-size: .8rem;
    
}
.teams:hover{
    /* background-color:hsla(0, 0%, 25%, 0.5); */
    color: #000000;
    scale: 1.3;
}


.teams img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit: cover;
}
.name{
    padding:12px;
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase ;
}
.design{
    font-style:italic ;
    color:#888;
}
.about{
    margin:20px 0;
    font-weight:lighter ;
    color:#e4e4e4;
    
}

/* Footer CSS */
footer {
    text-align: left ;
    padding: 2%;
    background-color: #1b1b1b;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
    overflow: hidden;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  img {
    float: right;
  }

  .containerFooter, .containerFooter a {
    display: block;
    color: rgb(133, 133, 133);
  }

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}